/**
    "name": "Halloween theme",
    "version": "1.0",
    "license": "UNKNOWN",
    "theme": "",
    "author": "ğ–Œğ–†ğ–‡ğ–Š#7384",
    "description": "A Halloween theme for Powercord",
**/

@import url(https://fluffingtons.github.io/revert-discord/resources/theme.css);

.theme-dark,
.theme-light,
:root {
    --background-primary: #333333 !important;
    --background-secondary: #222222 !important;
    --background-secondary-alt: #2B2B2B !important;
    --background-tertiary: # !important;
    --background-accent: #ff6600 !important;
}